#card-div {
    min-height: 150px;
    border-radius: 5px;
    margin-bottom: 25px;
    display: flex;
    /* transition: all 0.1s ease-out; */
}

h2 {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    margin: auto;
    align-items: center;
    color: black;
}

a {
    text-decoration: none;
}

#card-div:hover {
    box-shadow: inset 0 0 0 150px rgba(21, 21, 21, 0.40);
}

#card-div:hover h2 {
    color:#e3e3e3;
}
